@model SanProject.Shared.HotelModels.HotelDetailDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@Model.name</h1>
<div>
    <img src=@Model.thumbnail></img>
    <div class="Scores">
         @if (Model.stars > 0)
        {
            <span>@(Model.stars) stars</span>
        }
        <span>@(Model.rating) Rating</span>
    </div>
    <div class="locationinfo">
        <span>@Model.address</span>
    </div>
    <div>
        <span>Offer check-in : @(Model.offerCheckIn.ToShortDateString())</span>
    </div>
    <div class="hotel_description">
        <span>@Model.description.text</span>
    </div>
    <div class="hotel_price">
        <span>@(Model.price.amount+Model.price.currency)</span>
    </div>
    <a asp-controller="Booking" asp-action="Index" asp-route-offid=@Model.offerId asp-route-currenc=@Model.price.currency asp-route-travnum=@Model.travellernum>Reservation</a>
</div>
